  html {
    background-color: #1e1e1e;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  .controls {
  	position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 10%;
    background-color: #141414;
  }
  .musicplayer {
  	position: relative;
    margin: auto;
    width: 99.7%;
    max-width: 800px;
    height: 475px;
	top: 15px;
  }
  .songname {
    text-align: center;
    position: absolute;
    font-size: 20px;
    font-family: Source Code Pro;
    font-weight: 600;
    color: #ffffff;
    width: 100%;
    height: 15px;
    padding-top: 10px;
  }
  .songartist {
    text-align: center;
    position: absolute;
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 300;
    color: #ffffff;
    top: 250px;
    width: 100%;
    height: 15px;
  }
  .bold {
  	font-weight: 700;
  	font-size: 17px;
  }
  .cover {
  	position: relative;
    display: block;
    margin: auto;
    text-align: center;
    width: auto;
    min-width: 190px;
    max-width: 250px;
    height: 200px;
    border: 7px solid #2196F3;
    background: #323232;
    overflow: hidden;
    border-radius: 7px;
  }
  .playtoggle {
    position: relative;
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    cursor: pointer;
    background-color: #ccc;
    transition: .4s;
  }
  .playtoggle:hover {
	filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.35));
	transform: scale(1.05);
  }
  .playtoggle:active {
	transform: scale(0.95);
  }
  .back {
  	position: relative;
    display: block;
    bottom: 73px;
    right: 83px;
    margin: auto;
    width: 65px;
    height: 65px;
    cursor: pointer;
    transition: .4s;
    background: #ddd;
    text-align: center;
    border-radius: 100px;
  }
  .skip {
  	position: relative;
    display: block;
    bottom: 137px;
    left: 83px;
    margin: auto;
    width: 65px;
    height: 65px;
    cursor: pointer;
    transition: .4s;
    background: #ddd;
    text-align: center;
    border-radius: 100px;
  }
  .skip:hover {
	filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.35));
	transform: scale(1.05);
  }
  .skip:active {
	transform: scale(0.95);
  }
  .back:hover {
	filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.35));
	transform: scale(1.05);
  }
  .back:active {
	transform: scale(0.95);
  }
  .repeat {
  	position: relative;
    display: block;
    bottom: 213px;
    left: 150px;
    margin: auto;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .4s;
    background: #ddd;
    text-align: center;
    border-radius: 100px;
  }
  .repeat:hover {
	filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.35));
	transform: scale(1.05);
  }
  .repeat:active {
	transform: scale(0.95);
  }
  .shuffle {
  	position: relative;
    display: block;
    bottom: 283px;
    right: 150px;
    margin: auto;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .4s;
    background: #ddd;
    text-align: center;
    border-radius: 100px;
  }
  .shuffle:hover {
	filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.35));
	transform: scale(1.05);
  }
  .shuffle:active {
	transform: scale(0.95);
  }
  .speed {
  	position: relative;
    display: block;
    bottom: 510px;
    left: 140px;
    margin: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: .4s;
    background: #ddd;
    text-align: center;
    border-radius: 100px;
  }
  .speed:hover {
	filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.35));
	transform: scale(1.05);
  }
  .speed:active {
	transform: scale(0.95);
  }
  .play input { 
    visibility: hidden;
  }
  input:checked + .playtoggle {
    background-color: #2196F3;
  }
  input:checked + .repeat {
    background-color: #2196F3;
  }
  input:checked + .shuffle {
    background-color: #2196F3;
  }
  input:checked + .speed {
    background-color: #2196F3;
  }
  input:checked + .playlist {
    background-color: #2196F3;
  }
  .button {
    position: relative;
    display: block;
    margin: auto;
    left: -65px;
    width: 0px;
    height: 0px;
    top: 5px;
  }
  .button input { 
    visibility: hidden;
  }
  .bslider {
    position: relative;
    display: block;
    margin: auto;
    cursor: pointer;
    background-color: #ccc;
    transition: .4s;
    width: 130px;
    height: 8px;
    border-radius: 34px;
    top: 5px;
  }
  .bslider:before {
    position: relative;
    display: block;
    margin: auto;
    content: "";
    height: 17px;
    width: 17px;
    bottom: 5px;
    right: 50px;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .7s;
    border-radius: 50%;
  }
  input:checked + .bslider {
    background-color: #2196F3;
  }
  input:focus + .bslider {
    box-shadow: 0 0 1px #ffffff;
  }
  input:checked + .bslider:before {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  * {
      margin: 0;
      padding: 0;
    }

  .progress {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-family: Source Code Pro;
    font-weight: 300;
    position: relative;
    border: 0px solid red;
    margin: auto;
    width: 70%;
    max-width: 650px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .progress-bar {
    position: relative;
    width: 80%;
    height: 8px;
    background-color: #eee;
    vertical-align: 2px;
    border-radius: 5px;
    cursor: pointer;
  }

  .now {
    position: absolute;
    left: 0;
    width: 70%;
    display: inline-block;
    height: 8px;
    background: #2196F3;
    border-radius: 10px 0px 0px 10px;
  }

  .now::after {
    content: '';
    position: absolute;
    left: 97%;
    height: 17px;
    width: 17px;
    background-color: gray;
    border-radius: 17px;
    top: -4px;
  }
  .playlist {
  	position: relative;
    display: block;
    left: 0px;
    bottom: 250px;
    margin: auto;
    width: 250px;
    height: 40px;
    cursor: pointer;
    transition: .4s;
    background: #ddd;
    border-radius: 10px;
    padding-left: 10px;
  }
  .playlist-text {
  	text-align: center;
    font-size: 20px;
    font-family: Source Code Pro;
    font-weight: 600;
    color: #999999;
    top: 7px;
    position: absolute;
    padding-left: 10px;
  }
  .playlist:hover {
	filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.35));
	transform: scale(1.05);
  }
  .playlist:active {
	transform: scale(0.95);
  }
